        <div id="footer-container-placeholder">
    		<div id="footer-container-placeholder-inner">
		        <footer>
		            <a id='first_footer_link' class='link' href="https://itunes.apple.com/app/pearltrees/id463462134?mt=8" target="_blank">
		                iOS app</a>
		            <a class='link' href="https://play.google.com/store/apps/details?id=com.pearltrees.android.prod" target="_blank">
		                Android app</a>
		            <a class='link' href="http://www.pearltrees.com/s/faq/en" target="_blank">
		                FAQs</a>
		            <a class='link' href="http://blog.pearltrees.com/" target="_blank">
		                Blog</a>
		            <a class='link' href="http://blog.pearltrees.com/?page_id=6637" target="_blank">
		                Contact</a>
		            <a class='link' href="http://blog.pearltrees.com/?page_id=8119" target="_blank">
		                Jobs</a>
		            <a class='link' href="http://blog.pearltrees.com/?page_id=7414" target="_blank">
		                Press</a>
		            <a class='link' href="http://www.pearltrees.com/s/premium/presentation?l=EN_US" target="_blank">
		                Premium</a>
		            <a id='last_footer_link' class='link' href="#popular_pearltrees" onclick="toggleLinks()">
		                More</a>
		            <div id="popular_pearltrees" class="items">
		                 <a id="first_link" href="/k/en/music" class="pearlTree">music</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/art" class="pearlTree">art</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/news" class="pearlTree">news</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/games" class="pearlTree">games</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/design" class="pearlTree">design</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/education" class="pearlTree">education</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/food" class="pearlTree">food</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/photography" class="pearlTree">photography</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/science" class="pearlTree">science</a> 
<a id="first_link" href="/k/en/shopping" class="pearlTree">shopping</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/tools" class="pearlTree">tools</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/travel" class="pearlTree">travel</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/recipes" class="pearlTree">recipes</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/web" class="pearlTree">web</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/books" class="pearlTree">books</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/twitter" class="pearlTree">Twitter</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/social-media" class="pearlTree">social media</a>&nbsp;<span class="bluedot">&bull;</span>&nbsp;<a href="/k/en/health" class="pearlTree">health</a>
                     </div>
		        </footer>
	        </div>
        </div>