<div id="special-home-invitation-page" class="form_page invitation_page" style="display: none">
    <div id="special-home-invitation-header" class="invitation-page-header">
        <div class="invitation-header-avatar">
            <div id="signup-invitation-header-avatar-mask" class="invitation-header-avatar-mask sprite-home-masque_avatar_home"/>
        </div>
        <div class="invitation-header-title">
				    				:</div>
    </div>
    <div id="special-home-invitation-body" class="invitation-page-body">
        <div class="invitation-body-subscription-message invitation-teamup">
				    				Hi! I'd like to team-up with you on Pearltrees. Create your account to get started!</div>
        <div class="invitation-body-subscription-message invitation-default">
				    				Hi! I'd like to connect with you on Pearltrees. Create your account to get started!</div>
        <div class="form_button_invit invitation-body-subscription-button" onClick="PearltreesHomeSign.showPage('signup_page')">
				    				OK</div>
        <div class="invitation-body-redirection-button form_text_footer" onClick="PearltreesHomeSign.showPage('signin_page')">
				    				Already have an account?</div>
    </div>
</div>
