<%! 
   from r2.lib.template_helpers import static
%>
<%namespace file="utils.html" import="plain_link"/>
<%
    items = [
        (u'留学在线问答', '/forum', 'static/messages.png', 'Messages'),
        (u'美国大学搜索', '/college_search', 'static/videocall.png', 'Video &amp; Voice Calls'),
        (u'留美录取申请', '/college_admission', 'static/channels_icon.png', 'Channels'),
        (u'留学校园生活', '/college_life', 'static/photo.png', 'Photo Sharing'),
        (u'美国高中生夏令营', '/summercamp', 'static/music.png', 'Music'),
        (u'专家升学指导', '/consulting', 'static/games.png', 'Games')
    ]
%>
<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 10px">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
		<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
           	<span class="icon-bar"></span>
           	<span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> <img alt="PeachTree Logo" src="${static('blog_snoo.gif')}" /> <span></span></a>
  	</div>
	<!-- /.navbar-header -->
	<ul class="nav navbar-nav">
	  % for i, item in enumerate(items):
            <li>\
            <a href="${item[1]}">${item[0]}</a>
	    </li>
    	  % endfor
	</ul>
    %if c.user_is_loggedin:
    <ul class="nav navbar-top-links navbar-right">
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="user">${c.user.name}&nbsp;(<span class="userkarma" title="${_("link karma")}">${c.user.safe_karma}</span>)</span>&nbsp;
	    <i class="fa fa-caret-down"></i>
	  </a>
	  <ul class="dropdown-menu dropdown-tasks">
            <li>
	      ${thing.userInfo()}
	    </li>
	    <li class="divider"></li>
	    <li>
		<a class="text-left" href="/user/${c.user.name}">See all ${c.user.name}'s comments&nbsp;
                   <i class="fa fa-angle-right"></i>
                </a>
	    </li>
	  </ul>
	</li>
        <li>
	    <%
              if c.have_messages:
           	mail_img_class = 'havemail'
           	mail_img_title = "new mail!"
           	mail_path = "/message/unread/"
              else:
           	mail_img_class = 'nohavemail'
           	mail_img_title = "no new mail"
           	mail_path = "/message/inbox/"
       	    %>
	    ${plain_link(_("messages"), path=mail_path,
                 title = mail_img_title, _sr_path = False,
                 _id = "mail", _class=mail_img_class)}
	    <!--a title="no new mail" href="message/inbox/">
                <i class="fa fa-envelope fa-fw"></i>
            </a-->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
      		  ${thing.userViewed()}
                </li>
            	<li class="divider"></li>
		<li>
                  ${thing.userActivity()}
                </li>
	    </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
		<li><a href="prefs"><i class="fa fa-user fa-fw pref-lang choice"></i>preferences</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
		<li><form method="post" action="logout">
                		<input type="hidden" name="uh" value="reddit">
                		<input type="hidden" name="top" value="off">
                		<input type="hidden" name="dest" value="/">
                		<a href="javascript:void(0)" onclick="$(this).parent().submit()">
                			<i class="fa fa-sign-out fa-fw"></i>logout</a>
                	</form>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    %else:
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small>Have an account?</small> Sign in<span class="caret"></span></a> 
            <div class="dropdown-menu dropdown-form" id="signin-dropdown">
            <%include file="signin.html"/> 
	    <%include file="signup.html"/>
	    </div>
        </li>
    </ul>
    %endif
</nav>	

